<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        <li class="sidebar__item selected">
            <a href="/" tabindex="0" title="Assets" target="_self">
                <span class="icon-home"></span>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar__drawer sidebar__drawer--closed">
            <a tabindex="0" title="Day 0 Tools">
                <span class="icon-browser"></span>
                <span>Day 0 Tools</span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/claim_devices" target="_self">Claim Devices</a></li>
            </ul>
        </li>
        <li class="sidebar__drawer sidebar__drawer--closed">
            <a tabindex="0" title="Day 1 Tools">
                <span class="icon-browser"></span>
                <span>Day 1 Tools</span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/create_networks" target="_self">Create Networks</a></li>
            </ul>
        </li>
        <li class="sidebar__drawer sidebar__drawer--closed">
            <a tabindex="0" title="Day 2 Tools">
                <span class="icon-browser"></span>
                <span>Day 2 Tools</span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/compliance_report" target="_self">Compliance Reports</a></li>
            </ul>
        </li>
    </ul>
</nav>